<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAS</title>
</head>
<body>
    <div style="background-color: rgb(2, 108, 182); width: 100vw; height: 10vh; margin-left: 0;padding: 0;">
        <p style="text-align: left; color: aliceblue; font-size:2rem; padding: 1rem;">Cashbook Analytics System</p>
    </div>
</body>
</html>